<!DOCTYPE HTML>
<html>
<head>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two unequal columns that floats next to each other */
        .column {
            float: left;
            padding: 10px;
        }

        .left {
          width: 25%;
        }

        .right {
          width: 75%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<div class="row">
  <div class="column left"
  style="background-color:#aaa;">
    <form action="/dashboard/text/" method="post">
    {% csrf_token %}
    <label for="number">Enter Customer Phone Number</label><br />
    <input type="text" name="number" id="number" value="{{ phone_number }}" /><br />
    
    {% csrf_token %}
    
    <label for="radio">Product Type</label><br />
    {% for product in products %}
    <input type="radio" name="product" id="{{ product.0 }}" value="{{ product.0 }}" {{ product.1 }}/>
    <label for="{{ product.0 }}">{{ product.0 }}</label>
    {% endfor %}
    <br />

    {% csrf_token %}
    <label for="name">Customer Name</label><br />
    <input type="text" name="name" id="name" value="{{ first_name }}" /><br />

    <input type="submit" value="Send SMS" />
    </form>

    </div>
    <div class="column right"
    style="background-color:#bbb;"> 
        <p> First Automated Message</p>
        <form action="/dashboard/edit1/" method="post">
        {% csrf_token %}
        <textarea name="message" id="message" cols="50" rows="3">{{ greeting }}</textarea>
        <input type="submit" value="Edit" />
        </form>

        <p> if Positive Response</p>
        <form action="/dashboard/edit2/" method="post">
        {% csrf_token %}
        <textarea name="message" id="message" cols="50" rows="3">{{ if_pos }}</textarea>
        <input type="submit" value="Edit" />
        </form>

        <p> if Negative Response</p>
        <form action="/dashboard/edit3/" method="post">
        {% csrf_token %}
        <textarea name="message" id="message" cols="50" rows="3">{{ if_neg }}</textarea>
        <input type="submit" value="Edit" />
        </form>
    </div>
</div>

</html>